<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @place.title %>
</p>

<p>
  <b>Decription:</b>
  <%= @place.decription %>
</p>

<p>
  <b>Foodtype:</b>
  <%= @place.foodtype %>
</p>


<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
